<%= render partial: "shared/navbar" %>
<div class="user-link-container" data-userid="<%= current_user.id %>">
  <%= render partial: "create_link" %>
  <input type="text"  class="search" placeholder="Search..." required>
  <hr>
  <h2>All Links</h2>
  <div class="filtering options">
    <button class="alphabet" type="button">Sort Alphabetically</button>
    <button class="all-read" type="button">See All Read</button>
    <button class="all-unread" type="button">See All Unread</button>
  </div>
  <section class="all-links">

  </section>
</div>
