<%= render partial: "shared/navbar" %>
<div class="user-link-container" data-userid="<%= current_user.id %>">
  <%= render partial: "create_link" %>
  <section class="all-links">

  </section>
</div>
